.wrapper {
  text-align: center;
  background-color: #fefefe;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #222;
}
p {
  padding: 1rem;
  color: #333;
}

h1 {
  padding: 2rem 0 1rem;
  color: #333;
}

#userInput {
  display: inline-block;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  margin: 2rem;
  width: 50%;
  max-width: 80rem;
  box-shadow: 0 2px 5px #ddd, 0 0 2px #aaa;
  background-color: #fff;
}
@media only screen and (max-width: 633px) {
  #userInput {
    width: 80%;
  }
}